.nav {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 45vh;
    border-bottom: 3px;
    padding: 10px;
    text-decoration: none;
}

.listItem> :last-child {
    margin: 0;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
}

.listItemIcon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.listItemText> :first-child {
    background: -webkit-linear-gradient(rgba(124, 166, 252, 1) 25%,
            rgba(119, 235, 129, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    display: block;
    margin-bottom: 11px;
    font-weight: bold;
}

.listItemText> :last-child {
    color: grey;
    font-weight: bolder;
    display: block;
}