.headContainer {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    background: var(--bg-border);
}

.pokeballButton {
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    background: none;
    padding: 12.5px 12.5px 12.5px 12.5px;
}

.pokeballImg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Estilo Card - Versión Mejorada */
.pokemonInfo {
    background: var(--bg-border);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 280px;
    transition: all 0.3s ease;
    border: 1px solid #f0f0f0;
    text-align: center;
}

/* Imagen */
.pokemonInfoImg {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #f9f9f9 0%, #eef2f5 100%);
    padding: 15px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.pokemonInfoImgContainer:hover .pokemonInfoImg {
    transform: scale(2.05);
    background: transparent;
}

/* Nombre */
.pokemonTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin: 40px 0 40px 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
}

.pokemonDescriptionContainer {
    margin: 20px 0 20px 0;
}

/* Descripción */
.pokemonDescription {
    color: #2c3e50;
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.footer {
    padding: 45.5px;
    background: var(--bg-border);
    position: relative;
    color: #f0f0f0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 750;
}